/* base */

body {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    text-align: center;
    line-height: 1.65em;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

a {
    color: seashell;
}

h2,
h3,
h4 {
    margin: 0;
    padding: 10px 0;
}


/* header module */

header {
    background-color: black;
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid seashell;
}

.headerflexbox {
    min-height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoitem {
    height: 50px;
    margin: 0 0 0 10px;
    font-size: 0;
}

.logoitem img {
    height: 50px;
}

.navflexbox {
    display: flex;
    flex-flow: row nowrap;
}

.navitem a {
    padding: 20px 10px;
    white-space: nowrap;
}


/* main flexbox container module */

#mainflexcontainer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}


/* mission content */

#missionstatic {
    width: 1200px;
    min-height: 700px;
    background: transparent url("../images/img-mission-background.jpg") no-repeat;
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;
}

.missionflexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.missionitem {
    background-color: black;
    opacity: 1;
}


/* featured tea content */

#featuredstatic {
    width: 1200px;
    padding: 70px 0 0 0;
    background-color: black;
}

.featuredflexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexrow {
    width: 1000px;
    display: flex;
    justify-content: center;
}

.menuitem {
    justify-content: space-around;
    margin: 15px 15px 10px 15px;
}

.menuitem img {
    box-sizing: border-box;
    height: 200px;
    width: 300px;
}


/* location module */

#locationstatic {
    width: 1200px;
    min-height: 500px;
    background: transparent url("../images/img-locations-background.jpg") no-repeat;
    padding: 70px 0 0 0;
    margin: 40px 0 0 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.locationstatic h2 {
    background-color: transparent;
    margin: 0;
}

.addressflexbox {
    display: flex;
}

.addressitem {
    margin: 15px 20px;
    padding: 15px;
    width: 300px;
    background-color: black;
    opacity: 1;
}


/* footer */

footer {
    padding: 70px 0 0 0;
    width: 100%;
    max-height: 200px;
}

.footerstatic a {
    text-decoration: none;
}

.copy {
    margin: 20px 0 0 10px;
    text-align: left;
}
