/* base */

body {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    text-align: center;
    line-height: 1.65em;
    margin: 0;
    padding: 0;
}

a {
    color: seashell;
}

h2,
h3,
h4 {
    margin: 0;
    padding: 10px 0;
}


/* header module */

header {
    background-color: black;
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid seashell;
}

.headerflexbox {
    min-height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoitem {
    height: 50px;
    margin: 0 0 0 10px;
    font-size: 0;
}

.logoitem img {
    height: 50px;
}

.navflexbox {
    display: flex;
    flex-flow: row nowrap;
}

.navitem a {
    padding: 20px 10px;
    white-space: nowrap;
}


/* footer */

.footerstatic {
    margin: 70px 0 0 0;
    width: 100%;
    max-height: 200px;
}

.footerstatic a {
    text-decoration: none;
}

.copy {
    margin: 20px 0 0 10px;
    text-align: left;
}
